#date{float:left;}
body{background-color: aqua
     font-family: Verdana,sans-serif;
   }
   header{background-color: blue
    font-family:New Times Roman;
    font-size: 40px
    font-weight:bold;}
    