header {
    min-width: 80%;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    background-color: #D6D6FF;
    max-height: 2em;
    width: 80%;
    padding-bottom: 2em;
    padding-top: 1em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 3em;
    border: 1px solid black;
}
nav {
    padding: .8em;
    position: relative;
    
}
.mbar li {
    float: left;
    width: 32%;
}
.mbar li a:link{
    color: black;
    font-size: 1.5em;
    line-height: 1em;
    padding: .2em .2em;
    margin: .2em .2em;
    vertical-align: middle;
    }
.mbar li a:visited{
    color:green;
    }
.mbar li a:hover{
        color: blue;
    }
#home1{
    background-color: #FFEBEB;
    width: 80%;
    min-height: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    text-align: bottom;
}
body{
    background-color: #CCFFFF;
}
.icon{
    height: 3em;
    margin-left: 2em;
    margin-right: 2em;
}
h3{
    float :left;
    padding: .2em;
    font-size: 3em;
}
.week {
background-color: #FFEBEB;
height: 4em;
margin-top: 5%;
margin-bottom: 8%;
margin-left: auto;
margin-right: auto;
padding: 3em 3em;
width: 72.1%;
border: 1px solid black;
}
#profile{
    position: relative;
    top: 0;
    height: 200px;
    float: right;
    
}
.box-link{
    background-color: #D6D6FF;
    padding: 1em;
    margin: .5em;
    border: solid 1px black;
    float: left;
}
#bio {
position: relative;
top: 4em;
width: 70%;
}
h1{
    font-size: 30px
}
footer {
    background-color: #D6D6FF;
    max-height: 2em;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding-bottom: 2em;
    padding-top: 2em;
    border: 1px solid black;
}