nav {
    padding: .8em;
    position: relative;
    clear: top;
    min-width: 80%;
}
.mbar li {
    float: left;
    position: relative;
    width: 250px;
}
.mbar li a:link{
    color: black;
    font-size: 1.5em;
    line-height: 1em;
    padding: .2em .2em;
    margin: .2em .2em;
    vertical-align: middle;
    }
.mbar li a:visited{
    color:green;
    }
.mbar li a:hover{
        color: blue;
    }
#home1{
    background-color: #FFEBEB;
    width: 80%;
    min-height: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    text-align: bottom;
}
body{
    background-color: #CCFFFF;
}
header {
	text-align: center;
    font-size: 1.5em;
    background-color: #D6D6FF;
    width: 75.9%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1.5em 1em;
    clear: both;
}
footer {
    background-color: #D6D6FF;
    max-height: 2em;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding-bottom: 2em;
    padding-top: 2em;
}

.icon{
    height: 3em;
    margin-left: 2em;
    margin-right: 2em;
}
h3{
    float :left;
    padding: .2em;
    font-size: 3em;
}
.week {
background-color: #FFEBEB;
width: 80%;
height: 4em;
margin-top: 5%;
margin-bottom: 8%;
margin-left: 10%;
margin-right: 10%;
padding: 3em 3em;
width: 72.1%;
}
#profile{
    height: 250px;
    float: right;
    
}
.box-link{
    background-color: #D6D6FF;
    padding: 1em;
    margin: .5em;
    border: solid 1px black;
    float: left;
}
#bio {
position: relative;
top: 7em;
width: 70%;
}
h1{
    font-size: 30px
}

    
            